<h3><strong><%= @restaurant.name.capitalize %></strong></h3>
<h5>Reviews</h5>
<% @restaurant.reviews.each do |review| %>
  <p><strong><%= "#{review.rating} â­" %></strong> <%= review.content %></p>
  <p></p>
  <hr>
<% end %>
<%= link_to "Back", restaurants_path %>
